root = true

# C# files
[*.c]
charset = utf-8

#### Core EditorConfig Options ####

# Indentation and spacing
indent_size = 2
indent_style = space
tab_width = 2

# New line preferences
end_of_line = lf
insert_final_newline = false